.DS_Store
__pycache__/
*.pyc
.env
.idea/
.vscode/
node_modules/
dist/
build/
*.log
data/ospi/**/*.accdb
data/salaries/*.csv
data/salaries/S275_1920.csv
data/salaries/S275_2122.csv
data/salaries/*.csv

# Scraper Artifacts
documents/contracts/
documents/screenshots/
